In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df_meal=pd.read_csv('meal_info.csv')
print(df_meal)
'''This is for displaying first five data points'''

#read fulfilment_center_info.csv file from provided dataset
#Note: Proper file directory should be provided

'''************************Your code here**********************'''

'''************************************************************'''
df_center=pd.read_csv('fulfilment_center_info.csv')
print(df_center)

'''This is for displaying first five data points'''

#read train.csv file from provided dataset
#Note: Proper file directory should be provided

'''************************Your code here**********************'''

'''************************************************************'''
df_food=pd.read_csv('train.csv')
df_food.head()

    meal_id      category      cuisine
0      1885     Beverages         Thai
1      1993     Beverages         Thai
2      2539     Beverages         Thai
3      1248     Beverages       Indian
4      2631     Beverages       Indian
5      1311        Extras         Thai
6      1062     Beverages      Italian
7      1778     Beverages      Italian
8      1803        Extras         Thai
9      1198        Extras         Thai
10     2707     Beverages      Italian
11     1847          Soup         Thai
12     1438          Soup         Thai
13     2494          Soup         Thai
14     2760  Other Snacks         Thai
15     2490         Salad      Italian
16     1109     Rice Bowl       Indian
17     2290     Rice Bowl       Indian
18     1525  Other Snacks         Thai
19     2704  Other Snacks         Thai
20     1878      Starters         Thai
21     2640      Starters         Thai
22     2577      Starters         Thai
23     1754      Sandwich      Italian
24     1971      Sandwich      Italian
25     2306         Pasta      Italian
26     2139     Beverages       Indian
27     2826      Sandwich      Italian
28     2664         Salad      Italian
29     2569         Salad      Italian
30     1230     Beverages  Continental
31     1207     Beverages  Continental
32     2322     Beverages  Continental
33     2492        Desert       Indian
34     1216         Pasta      Italian
35     1727     Rice Bowl       Indian
36     1902       Biryani       Indian
37     1247       Biryani       Indian
38     2304        Desert       Indian
39     1543        Desert       Indian
40     1770       Biryani       Indian
41     2126         Pasta      Italian
42     1558         Pizza  Continental
43     2581         Pizza  Continental
44     1962         Pizza  Continental
45     1571          Fish  Continental
46     2956          Fish  Continental
47     2104          Fish  Continental
48     2444       Seafood  Continental
49     2867       Seafood  Continental
50     1445       Seafood  Continental
    center_id  city_code  region_code center_type  op_area
0          11        679           56      TYPE_A      3.7
1          13        590           56      TYPE_B      6.7
2         124        590           56      TYPE_C      4.0
3          66        648           34      TYPE_A      4.1
4          94        632           34      TYPE_C      3.6
5          64        553           77      TYPE_A      4.4
6         129        593           77      TYPE_A      3.9
7         139        693           34      TYPE_C      2.8
8          88        526           34      TYPE_A      4.1
9         143        562           77      TYPE_B      3.8
10        101        699           85      TYPE_C      2.8
11         86        699           85      TYPE_C      4.0
12         32        526           34      TYPE_A      3.8
13        149        478           77      TYPE_A      2.4
14        152        576           34      TYPE_B      4.0
15         92        526           34      TYPE_C      2.9
16         27        713           85      TYPE_A      4.5
17         14        654           56      TYPE_C      2.7
18         26        515           77      TYPE_C      3.0
19        104        647           56      TYPE_A      4.5
20         77        676           34      TYPE_A      3.8
21         23        698           23      TYPE_A      3.4
22         97        628           77      TYPE_A      4.6
23        146        526           34      TYPE_B      5.0
24        113        680           77      TYPE_C      4.0
25        145        620           77      TYPE_A      3.9
26         80        604           56      TYPE_C      5.1
27         55        647           56      TYPE_C      2.0
28        186        649           34      TYPE_A      3.4
29         99        596           71      TYPE_A      4.5
..        ...        ...          ...         ...      ...
47         58        695           77      TYPE_C      3.8
48         65        602           34      TYPE_A      4.8
49         39        526           34      TYPE_C      3.8
50        132        522           56      TYPE_A      3.9
51         89        703           56      TYPE_A      4.8
52        162        526           34      TYPE_C      2.0
53         75        651           77      TYPE_B      4.7
54         72        638           56      TYPE_C      3.9
55         41        590           56      TYPE_C      1.9
56         10        590           56      TYPE_B      6.3
57        110        485           77      TYPE_A      3.8
58         52        685           56      TYPE_B      5.6
59         93        461           34      TYPE_A      3.9
60         74        702           35      TYPE_A      2.8
61         34        615           34      TYPE_B      4.2
62        137        590           56      TYPE_A      4.4
63        153        590           56      TYPE_A      3.9
64         24        614           85      TYPE_B      3.6
65        109        599           56      TYPE_A      3.6
66        108        579           56      TYPE_B      4.4
67         36        517           56      TYPE_B      4.4
68        157        609           93      TYPE_A      4.1
69         17        517           56      TYPE_A      3.2
70        161        658           34      TYPE_B      3.9
71         42        561           77      TYPE_B      3.9
72         53        590           56      TYPE_A      3.8
73         30        604           56      TYPE_A      3.5
74         76        614           85      TYPE_A      3.0
75         68        676           34      TYPE_B      4.1
76         51        638           56      TYPE_A      7.0

[77 rows x 5 columns]

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40

In [6]:
from functools import reduce
df=[df_meal,df_center,df_food]
df1 =  pd.merge(df_meal,df_food,on='meal_id')
df=pd.merge(df1,df_center,on='center_id')
df

,meal_id,category,cuisine,id,week,center_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area
0,1885,Beverages,Thai,1379560,1,55,136.83,152.29,0,0,177,647,56,TYPE_C,2.0
1,1885,Beverages,Thai,1018704,2,55,135.83,152.29,0,0,323,647,56,TYPE_C,2.0
2,1885,Beverages,Thai,1196273,3,55,132.92,133.92,0,0,96,647,56,TYPE_C,2.0
3,1885,Beverages,Thai,1116527,4,55,135.86,134.86,0,0,163,647,56,TYPE_C,2.0
4,1885,Beverages,Thai,1343872,5,55,146.50,147.50,0,0,215,647,56,TYPE_C,2.0
5,1885,Beverages,Thai,1493612,6,55,146.53,146.53,0,0,285,647,56,TYPE_C,2.0
6,1885,Beverages,Thai,1110832,7,55,145.53,146.53,0,0,148,647,56,TYPE_C,2.0
7,1885,Beverages,Thai,1461167,8,55,146.53,145.53,0,0,135,647,56,TYPE_C,2.0
8,1885,Beverages,Thai,1102364,9,55,134.83,134.83,0,0,175,647,56,TYPE_C,2.0
9,1885,Beverages,Thai,1018130,10,55,144.56,143.56,0,0,175,647,56,TYPE_C,2.0
10,1885,Beverages,Thai,1047565,11,55,146.53,144.53,0,0,244,647,56,TYPE_C,2.0
11,1885,Beverages,Thai,1282497,12,55,145.53,146.53,0,0,190,647,56,TYPE_C,2.0
12,1885,Beverages,Thai,1136216,13,55,145.50,146.50,0,0,68,647,56,TYPE_C,2.0
13,1885,Beverages,Thai,1196793,14,55,142.62,141.62,0,0,135,647,56,TYPE_C,2.0
14,1885,Beverages,Thai,1324644,15,55,117.37,143.62,0,0,366,647,56,TYPE_C,2.0
15,1885,Beverages,Thai,1239157,16,55,117.37,141.62,0,0,67,647,56,TYPE_C,2.0
16,1885,Beverages,Thai,1056819,17,55,122.28,143.62,0,0,270,647,56,TYPE_C,2.0
17,1885,Beverages,Thai,1278127,18,55,120.28,142.62,0,0,350,647,56,TYPE_C,2.0
18,1885,Beverages,Thai,1027349,19,55,120.28,143.62,0,0,244,647,56,TYPE_C,2.0
19,1885,Beverages,Thai,1466073,20,55,121.28,142.62,0,0,188,647,56,TYPE_C,2.0
20,1885,Beverages,Thai,1430267,21,55,120.34,118.34,0,0,136,647,56,TYPE_C,2.0
21,1885,Beverages,Thai,1127751,22,55,122.25,123.25,0,0,296,647,56,TYPE_C,2.0
22,1885,Beverages,Thai,1256693,23,55,162.05,161.05,0,0,188,647,56,TYPE_C,2.0
23,1885,Beverages,Thai,1132283,24,55,165.93,165.93,0,0,161,647,56,TYPE_C,2.0
24,1885,Beverages,Thai,1145816,25,55,163.93,165.93,0,0,55,647,56,TYPE_C,2.0
25,1885,Beverages,Thai,1035577,26,55,164.96,162.96,0,0,176,647,56,TYPE_C,2.0
26,1885,Beverages,Thai,1092191,27,55,121.25,163.96,0,0,202,647,56,TYPE_C,2.0
27,1885,Beverages,Thai,1318743,28,55,122.28,162.96,0,0,296,647,56,TYPE_C,2.0
28,1885,Beverages,Thai,1389231,29,55,119.31,163.96,0,0,107,647,56,TYPE_C,2.0
29,1885,Beverages,Thai,1055602,30,55,122.28,162.96,0,0,135,647,56,TYPE_C,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456518,1445,Seafood,Continental,1358908,107,61,486.03,709.13,1,1,42,473,77,TYPE_A,4.5
456519,1445,Seafood,Continental,1190476,108,61,709.13,707.13,0,0,27,473,77,TYPE_A,4.5
456520,1445,Seafood,Continental,1487363,109,61,709.13,709.13,0,0,94,473,77,TYPE_A,4.5
456521,1445,Seafood,Continental,1187312,110,61,416.19,709.13,1,0,162,473,77,TYPE_A,4.5
456522,1445,Seafood,Continental,1226867,112,61,708.13,707.13,0,0,69,473,77,TYPE_A,4.5
456523,1445,Seafood,Continental,1172853,113,61,709.13,709.13,0,0,15,473,77,TYPE_A,4.5
456524,1445,Seafood,Continental,1230050,114,61,709.13,708.13,0,0,27,473,77,TYPE_A,4.5
456525,1445,Seafood,Continental,1359234,115,61,708.13,707.13,0,0,41,473,77,TYPE_A,4.5
456526,1445,Seafood,Continental,1252206,116,61,708.13,708.13,0,0,15,473,77,TYPE_A,4.5
456527,1445,Seafood,Continental,1034019,117,61,728.53,728.53,0,0,54,473,77,TYPE_A,4.5
456528,1445,Seafood,Continental,1020713,120,61,728.53,728.53,0,0,13,473,77,TYPE_A,4.5
456529,1445,Seafood,Continental,1407326,121,61,726.53,727.53,0,0,14,473,77,TYPE_A,4.5
456530,1445,Seafood,Continental,1313200,122,61,468.57,726.53,1,0,190,473,77,TYPE_A,4.5
456531,1445,Seafood,Continental,1163238,123,61,469.51,726.53,1,0,217,473,77,TYPE_A,4.5
456532,1445,Seafood,Continental,1476605,124,61,726.53,728.53,0,0,53,473,77,TYPE_A,4.5
456533,1445,Seafood,Continental,1401160,125,61,727.53,728.53,0,0,55,473,77,TYPE_A,4.5
456534,1445,Seafood,Continental,1088814,126,61,728.53,728.53,0,1,42,473,77,TYPE_A,4.5
456535,1445,Seafood,Continental,1312705,127,61,727.53,728.53,0,1,55,473,77,TYPE_A,4.5
456536,1445,Seafood,Continental,1480087,128,61,766.33,728.53,0,1,54,473,77,TYPE_A,4.5
456537,1445,Seafood,Continental,1493413,129,61,765.33,726.53,0,1,42,473,77,TYPE_A,4.5
456538,1445,Seafood,Continental,1464881,133,61,484.03,765.33,1,1,202,473,77,TYPE_A,4.5
456539,1445,Seafood,Continental,1404873,134,61,486.03,766.33,1,0,96,473,77,TYPE_A,4.5
456540,1445,Seafood,Continental,1038692,135,61,626.68,765.33,0,0,27,473,77,TYPE_A,4.5
456541,1445,Seafood,Continental,1147928,136,61,766.33,767.33,0,0,82,473,77,TYPE_A,4.5
456542,1445,Seafood,Continental,1432775,137,61,767.33,765.33,0,0,53,473,77,TYPE_A,4.5
456543,1445,Seafood,Continental,1103847,141,61,726.53,727.53,0,0,27,473,77,TYPE_A,4.5
456544,1445,Seafood,Continental,1382039,142,61,728.53,727.53,0,0,26,473,77,TYPE_A,4.5
456545,1445,Seafood,Continental,1492751,143,61,583.03,728.53,0,0,80,473,77,TYPE_A,4.5
456546,1445,Seafood,Continental,1301650,144,61,582.03,726.53,1,0,68,473,77,TYPE_A,4.5
456547,1445,Seafood,Continental,1055597,145,61,728.53,726.53,0,0,54,473,77,TYPE_A,4.5

In [7]:
table = pd.pivot_table(data=df,index='category',values='num_orders',aggfunc=np.sum)
x=table.reset_index(level='category')

In [8]:
import matplotlib.pyplot as plt
plt.xticks(rotation=70) 
'''Write on comment what you feel this function does'''

#x-axis labels 
plt.xlabel('Food items')

#y-axis labels 
plt.ylabel('Quantity sold')

#plot title 
plt.title('Most popular food')

#save plot 

X=x[["category"]]
xx=X.values.tolist()
xl=[]
for n in xx:
    xl.append(n[0])
Y=x[["num_orders"]]

yy=Y.values.tolist()
yl=[]

for n in yy:
    yl.append(n[0])

plt.bar(xl,yl,color='green')
plt.show()

ValueError: could not convert string to float: 'Beverages'